@import "tailwindcss";
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #80652f transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 3px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(198, 161, 91, 0.04);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #80652f;
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #c6a15b;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  will-change: transform;
}


.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(168, 149, 119, 0.45) transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(168, 149, 119, 0.45);
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 184, 154, 0.75);
}